body {
    font-size: 15px;
    /*display: flex;*/
    font-family: sans-serif;
    background-color: aliceblue;
}

h1 {
    display: flex;
}

.new-task {
    width: 30vh;
}

.calculate-cpm {
    margin-top: 5%;
}

.tasks {
    width: 100%;
    height: 50%;
    background-color: blue;
}
