body {
    font-size: 15px;
    /*display: flex;*/
    font-family: sans-serif;
    background-color: aliceblue;
}

p {
    margin: 0;
    padding-top: 10px;
    margin-bottom: 5px;
}

h1 {
    display: flex;
}

input[type="text"] {
    font-size: 18px;
}

.task-container {
    width: 25vh;
    height: 15vh;
    position: absolute;
    background-color: #d3d3d3;
    border: 1px solid #696969;
}

.calculate-cpm {
    position: absolute;
    bottom: 35%;
    left: 5%;
}

.tasks {
    width: 100%;
    height: 50%;
    border: solid red 1px;
}

.kontakt {
    font-size: 30px;
}

#file-input {
    position: absolute;
    bottom: 35%;
    left: 25%;
}

.task-text {
    
}

.task-input {
    margin-bottom: 5px
}